# Global Ignore
*
!.gitignore
!README.md

# Allow the SOP_Read3mf and SOP_Save3mf directories themselves (but not their contents)
!SOP_Read3mf/
!SOP_Save3mf/

# Ignore everything INSIDE the directories
SOP_Read3mf/*
SOP_Save3mf/*

# Allow ONLY the specific files we need
!SOP_Read3mf/SOP_Read3mf.C
!SOP_Read3mf/SOP_Read3mf.h
!SOP_Read3mf/CMakeLists.txt
!SOP_Read3mf/hdk_read3mf.txt
!SOP_Read3mf/stb_image.h
!SOP_Read3mf/stb_image_write.h
!SOP_Read3mf/tinyxml2.cpp
!SOP_Read3mf/tinyxml2.h
!SOP_Save3mf/SOP_Save3mf.C
!SOP_Save3mf/SOP_Save3mf.h
!SOP_Save3mf/CMakeLists.txt
!SOP_Save3mf/hdk_save3mf.txt
